<?xml version="1.0" encoding="utf-8" ?>  
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="internalLog.txt">  
    <extensions>  
        <add assembly="NLog.Web.AspNetCore" />  
    </extensions>  
    <!-- the targets to write to -->  
    <targets>  
        <!-- write to file -->  
        <target xsi:type="File" name="alldata" fileName="demo-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" /> 
       <target name="file" xsi:type="File"   layout="${longdate}|${level}|${callsite}|${logger}|${threadid}${message} ${exception:format=message,stacktrace:separator=*"  fileName="C:\Users\Burak\source\repos\MessagingWebApi\MessagingWebApi\example.log" />
    <target name="database" type="Database">
      <connectionString>
        Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False
      </connectionString>
      <commandText>
        insert into system_logging(log_date,log_level,log_logger,log_message, log_call_site, log_thread, log_exception, log_stacktrace) values(@time_stamp, @level, @logger, @message, @call_site, @threadid, @log_exception, @stacktrace);
      </commandText>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>
    </target> 
</targets> 
  <rules>
    <logger name="*" minlevel="Trace" writeTo="alldata,database" />
  </rules>
</nlog> 